xsl/db2latex/xsl/unicode.mapping.dtd

<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: unicode.mapping.dtd,v 1.1 2005/12/05 08:19:40 rpopov Exp $ -->
<!-- DTD for XML with mapping Unicode entities to LaTeX commands -->
<!-- Author: Vitaly Ostanin <vyt@altlinux.ru> -->

<!ELEMENT mapping (character+)>

<!ELEMENT character (unicode, latex?, mathlatex?, preferred)>

<!ELEMENT unicode (#PCDATA)>

<!ELEMENT latex (#PCDATA)>

<!ELEMENT mathlatex (#PCDATA)>

<!ELEMENT preferred (#PCDATA)>
